:root {
    --color-bg: #282C33;
    --color-code-bg: #20262f;
    --color-code-text: #D4DDFD;
    --color-emphasis: #e09595;
    --color-fade: #888;
    --color-link-hover: #cce3ff;
    --color-link: #7289DA;
    --color-scroll: #3f4550;
    --color-scroll-active: #536380;
    --color-text: #d4d4d4;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--color-text);

    line-height: 1.5;

    background-image: linear-gradient(135deg, #282c33 25%, #20262f 25%, #20262f 50%, #282c33 50%, #282c33 75%, #20262f 75%, #20262f 100%);
    background-size: 16.97px 16.97px;

    padding: 0;
}

#master-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: auto;
   
    padding: 6em 2em;

    z-index: 0;
}

/* Mobile */
@media (min-width: 0px) {
    #master-wrapper {
        padding: 1em;
    }
}

/* Small desktop / tablet */
@media (min-width: 680px) {
    #master-wrapper {
        flex-direction: row;
        padding: 4em 2em;
    }
}

/* Desktop */
@media (min-width: 900px) {
    #master-wrapper {
        flex-direction: row;
        width: 55%;
        min-width: 900px;
        max-width: 1200px;
    }
}

blockquote {
    border-left: 1px solid;
    margin-left: 0;
    padding-left: 1rem;
}

code {
    background-color: var(--color-code-bg);
    color: var(--color-code-text);
    padding: 1px 4px;
    border-radius: 8px;
    overflow-wrap: break-word;
}

strong {
    color: var(--color-emphasis);
}

.highlight {
    background: var(--color-code-bg);
    color: var(--color-code-text);
    border-radius: 8px;
}

pre code {
    background: transparent;
    color: inherit;
    padding: 0;
    border-radius: 0;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.4em;
    margin-bottom: 0;
    margin-top: 3em;
}
h3 {
    font-size: 1.15em;
    margin-bottom: 0;
}
h4 {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 0.3em;
}

h3 + p {
    margin-top: 0;
}

/* Code blocks */
pre {
    background: var(--color-code-bg);
    padding: 1rem;
    overflow-x: auto;
}

a:hover {
    transition: color 0.3s;
}
a {
    text-decoration: none;
    color: var(--color-link);
}
a:hover {
    color: var(--color-link-hover);
}

ul.posts {
    list-style: none;
    padding-left: 0;
    line-height: 1.75;
}
.posts time {
    color: var(--color-fade);
    margin-right: 1em;
}
.posts a {
    color: var(--color-text);
}
.posts a:hover {
    color: var(--color-link-hover);
}

header {
    margin: 4rem 0;
}
header h1 {
    margin: 0;
    font-size: 1.5rem;
}
header p {
    margin: 0;
}

#navigation-mobile-button {
    position: fixed;
    top: 24px;
    right: 24px;
    width: 64px;
    height: 64px;
    border-radius: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text);
    background-color: var(--color-code-bg);
    font-size: 24px;
    
    box-sizing: border-box;
    box-shadow: 5px 7px 10px 0px #00000026;

    cursor: pointer;

    z-index: 20;
}

#navigation-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    padding: 2em 3em;
    box-sizing: border-box;

    z-index: 10;

    background-color: var(--color-code-bg);
}

#navigation-mobile {
    display: none;
}

#navigation-mobile.open {
    display: block;
}

@media (min-width: 0px) {
    #navigation {
        display: none;
    }
}

@media (min-width: 680px) {
    #navigation {
        display: block;
        background-color: var(--color-code-bg);
        width: 260px;
        box-sizing: border-box;
        border-radius: 32px 0px 0px 32px;
        box-shadow: 5px 7px 10px 0px #00000026;
        padding: 1em 2em;
    }

    #navigation-mobile,
    #navigation-mobile-button {
        display: none !important;
    }
}

@media (min-width: 900px) {
    #navigation {
        padding: 2em;
    }
}

#navigation ul,
#navigation-mobile ul {
    padding: 0;
    margin-left: 0;
    list-style: none;
}

#navigation li,
#navigation-mobile li {

    border-radius: 8px;
}

#navigation li {
    padding: 0.2em 0;
}

#navigation-mobile li {
    padding: 0.3em 0;
    font-size: 1.25em;
}

#navigation-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
}

#toc-wrapper {
    overflow-y: scroll;
}

@media (min-width: 0px) {
    #toc-wrapper {
        height: calc(100vh - 560px);
    }
}

@media (min-width: 680px) {
    #toc-wrapper {
        height: calc(100vh - 375px);
    }
}

#logo {
    height: 118px;
    background-image: url(../images/sluggy.png);
    background-size: contain;
    margin-bottom: 1em;
}

#content {
    background-color: var(--color-bg);
    box-shadow: 5px 7px 10px 0px #00000026;
    box-sizing: border-box;
    padding: 1em 2em;
}

@media (min-width: 0px) {
    #content {
        width: 100%;
        border-radius: 32px 32px;
    }
}

@media (min-width: 680px) {
    #content {
        min-width: 400px;
        border-radius: 0px 32px 32px 0px;
    }
}

@media (min-width: 900px) {
    #content {
        width: 70%;
        min-width: 600px;
    }   
}

#links {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    margin: 1em 0;
}

footer {
    margin-bottom: 5em; 
}

hr {
    border-style: none;
    height: 2px;
    background-color: var(--color-text);
    opacity: 0.2;
}

.note {
    background: var(--color-code-bg);
    color: var(--color-code-text);
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.note::before {
    content: "NOTE";
    font-weight: 600;
    display: flex;
}


img {
    max-width: 100%;
}

.command-link {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--color-link);
}


/* Modal */
#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-code-bg);
    opacity: 0.8;
    
    display: none;
}

#modal {
    position:fixed;
    top: 4em;
    left: 0;
    right: 0;
    width: 80%;
    max-width: 600px;
    height: 80%;
    box-sizing: border-box;
    padding: 2em;
    margin: 0 auto;

    border-radius: 8px;
    box-shadow: 5px 7px 10px 0px #00000026;

    background-color: var(--color-bg);

    overflow-y: auto;

    display: none;
}

#modal.open, 
#modal-background.open {
    display: block;
}

/* Scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar:vertical {
    width: 14px;
}

::-webkit-scrollbar:horizontal {
    height: 14px;
}

body::-webkit-scrollbar-track {
    background: var(--color-code-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--color-scroll);
    border-radius: 100px;
    border: 5px solid var(--color-code-bg);
    transition: 200ms all ease;
}

#modal::-webkit-scrollbar-thumb {
    border-color: var(--color-bg);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    transition: 200ms all ease;
    background-color: var(--color-scroll-active);
}

/* Firefox doesn't support webkit, need some sort of a fallback instead */
html,
#modal,
#toc-wrapper,
pre {
    scrollbar-width: thin;
}

html,
#toc-wrapper,
pre {
    scrollbar-color: var(--color-scroll) var(--color-code-bg);
}

#modal {
    scrollbar-color: var(--color-scroll) var(--color-bg);   
}


