<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,600,600i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="css/root.css" rel="stylesheet">
<link href="css/highlighter.css" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- TODO - host icons locally for better resilience -->

{% if page.type == 'guide' %}
<script>
	var commandData = JSON.parse(decodeURIComponent("{{ site.data.commands | jsonify | uri_escape  }}"));
</script>
{% endif %}
<script type="text/javascript" src="js/main.js" defer></script>